.status {
    padding: 20px;
}

.status_title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.status_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 680px;
}

.status_tab {
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    color: var(--txt-status-bar);
    background-color: var(--bg-status-bar);
}

.status_tab:hover {
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--bg-status-bar);   
}

.status_tab_content {
    margin-top: 24px;
}

.status_btn {
    font-size: 18px;
    color: var(--black);
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: var(--bg-status-btn);
}

