.dashboard_body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 15px 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 345px;
}

.button {
    font-size: 14px;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 200;
}

.text {
    margin-top: 20px;
    color: var(--color-text-card);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.card_icon {
    max-width: 50px;
    width: 100%;
    height: 50px;
}

.sb_title {
    color: var(--green);
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

.txt_card_icon {
    margin-right: 6px;
    font-size: 24px;
}

@media (max-width: 1680px) {
    .dashboard_body {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        max-width: 100%;
    }
}