.scenarios {
    height: 90vh;
    margin: 20px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 15px;
}

.head {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.item {
    display: flex;
    align-items: flex-start;
}

.date {
    font-size: 13px;
    color: var(--color-date);
    margin: 0px 0px 6px 6px;
}

.text {
    margin: 16px 0px;
}