.sidebar {
    width: 15%;
    color: #fff;
    background-color: rgb(2, 93, 168);
}

.sidebar_box {
    padding: 20px 24px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.iconLogo {
    font-size: 45px;
}

.iconText {
    font-size: 24px;
    font-weight: bold;
}

.txt {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.button {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: bold;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}