.sidebar {
    width: 15%;
    color: var(--white);
    background-color: var(--bg-sidebar);
}

.sidebar_box {
    padding: 20px 24px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.icon_logo {
    font-size: 45px;
}

.icon_text {
    font-size: 24px;
    font-weight: bold;
}

.txt {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.button {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: bold;
    list-style-type: none;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}