.dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.dashboard_box {
    padding: 15px 20px;
}

.dashboard_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
}

.flex {
    display: flex;
    align-items: center;
}

.head_icon {
    font-size: 32px;
    margin-right: 12px;
}

.head_txt {
    font-size: 32px;
    font-weight: bold;
}

.head_btn {
    display: flex;
    align-items: center;
    
    user-select: none;
    cursor: pointer;
}

.btn_icon {
    font-size: 24px;
    margin-right: 12px;
}

.btn_txt {
    text-transform: uppercase;
    color: var(--color-btn);
}




