.dashboard {
    padding: 15px 20px;
}

.dashboard_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
}

.flex {
    display: flex;
    align-items: center;
}

.head_txt {
    font-size: 32px;
    font-weight: bold;
}

.btnIcon {
    font-size: 24px;
    margin-right: 12px;
}

.btn_txt {
    text-transform: uppercase;
    color: #05b9f0;
}

.headIcon {
    font-size: 32px;
    margin-right: 12px;
}

.dashboard_body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 345px;
}

.cardIcon {
    max-width: 50px;
    width: 100%;
    height: 50px;
}

.txtCardIcon {
    margin-right: 6px;
    font-size: 24px;
}

@media (max-width: 1680px) {
    .dashboard_body {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        max-width: 100%;
    }
}